:root {
    --primari-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
    --text-white: #ffffff;
  }
  
  body {
    background-color: var(--text-white);
    color: var(--primari-text-color);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin: 0;
    padding-top: 72px;
  }
  
  .logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .main-nav .logo {
    margin-right: 77px;
  }
  
  .logo .logo-blue {
    color: #4D5AE5;
  }
   
  .list {
    list-style: none;
  }
  
  .menu-nav .link {
    color: var(--primari-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-nav .link:hover,
  .menu-nav .link:focus {
    color: var(--accent-color);
    
  }
  
  
  .contact .link {
    color: var(--title-text-color);
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  }
  
  .contact .link:hover,
  .contact .link:focus {
    color: var(--accent-color);
  }
  

  
  .peculiarities-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-size: 20px;
  }
  
  .features-list .title {
    color: var(--primari-text-color);
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .features-list .title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.50em;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 8px;
    padding-bottom: 0px;
  }
  
 

  .our-teams {
     background: #f4f4fd;
  }
  
  .our-teams-title {
    color: var(--primari-text-color);
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  
  .teams .title {
    color: var(--primari-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  
  .teams .text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    
  }
  
  .btn-primary {
    background-color: var(--accent-color);
    color: var(--text-white);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: inherit;
    transition:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background, box-shadow;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
  }
  
  
  
  .footer .logo {
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .business {
    background-color: var(--primari-text-color);;
  }
  .filter .btn {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    transition-duration:  250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-property: color, background-color, box-shadow;
  }

  .filter .btn:hover,
  .filter .btn:focus,
  .filter .btn:active {
    color: #F4F4FD;
    background-color: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
  }

  .filter  {
    display: flex;
    width: 586px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container .title {
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  .container .title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
 
  .footer .text {
    color: #E7E9FC;
    font-style: normal; 
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-top: 16px;
    max-width: 264px;
  }


  .footer li {
    list-style-type: none;
  }
  
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

 h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  border: 0;
 }


  /* HEADER */
  .container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 0px;

  
  
}

.main-nav .item:not(:last-child) {
  margin-right: 40px;
}
.menu-nav {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  margin-left: 331px;
}

.contact .link:not(:last-child) {
  margin-right: 40px;
}

 .page-header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  position:fixed;
  z-index: 1;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }
/* MAIN CONTAINER */

.features-list {
  display: flex;
  justify-content: center;
}

.features-list li:not(:last-child) {
  margin-right: 24px;
}

/* HERO */

.hero {
  max-width: 1440px;
  margin: auto;
  
}

.hero-title{
  width: 1440px;
  font-family: 'Roboto';
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  size: 56px;
  line-height: 1.07em;
}

.hero-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  
}

.hero .btn-primary {
  
 place-content: center;
 align-items: center;
 padding: 16px 32px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 48px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition:  250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background;

}

.hero .btn-primary:focus,
.hero .btn-primary:hover {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

svg {
  padding: 0px;
}

.hero {
  text-align: center;
  padding-bottom: 192px;
  padding-top: 192px;
  background-color: grey;
  background-image: linear-gradient(to right ,rgba( 46, 47, 66, 0.7 ),rgba( 46, 47, 66,0.7 )) , url(../images/Background1.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}


/* OUR WORK */

 .our-teams-title {
  font-family: 'Roboto';
  color: var(--primari-text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

 .our-teams .item  {
  list-style: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;  
}

.our-teams .list {
  display: flex;
  justify-content: space-between;
}
.teams .title {
  display: flex;
  padding-top: 32px;
  padding-bottom: 8px;
  justify-content: center;
}
.teams .text {
  padding-bottom: 12px;
  text-align: center;
}

 .our-work .our-work-title {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 72px;
  font-size: 36px;
 }

.our-work .list{
  display: flex;
}

.our-work .item:not(:last-child) {
  margin-right: 24px;
}

.our-work {
  padding-top: 0px;
}

/* SVG */

.teams-soc-list {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 36px;
  
}

/* .teams-soc-items {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #F4F4FD;
  background-color: var(--accent-color);
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background;
} */



.teams-soc-icon {
  display: flex;
  width:  40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background;
  

}
.antenna-background {
  display: block;
  height: 112px;
  border-radius: 4px;
  background-color: #F4F4FD;
  margin-bottom: 8px;
}

.teams-soc-icon:hover,
.teams-soc-icon:focus {
background: #404BBF;
}


/* BODY ICON */

.icon-antenna::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: #F4F4FD;
  background-image: url(../images/svg/antenna.svg);
  border-radius: 4px ;
}

.icon-clock::before {
  content: "";
  display: block;
  background-color: #F4F4FD;
  background-image: url(../images/svg/clock.svg);
  height: 112px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border-radius: 4px;
}

.icon-notebook::before {
  content: "";
  display: block;
  background-color: #f4f4fd;
  background-image: url(../images/svg/notebook.svg);
  background-position: center;
  height: 112px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.icon-astronaut::before {
  content: "";
  display: block;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
  background-image: url(../images/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* FOOTER SVG */


.social-media-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5em;
color: #fff;
width: 96px;
height: 24px; 
margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}


.footer-soc-icon {
  display: flex;
  width:  40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background;
  
}

.footer-container {
  display: flex;
}

.social-media {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer-soc-icon:hover,
.footer-soc-icon:focus {
  background-color: #31D0AA;
}


/* *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}  */

/* PORTFOLIO */

.works  {
  list-style: none; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}
  
.works > .item:nth-child(3n) {
 margin-right: 0px;
}

.works .title-text {
  margin-top: 8px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container .filter {
  margin-bottom: 72px;
}

.works .container {
  padding: 32px 16px 32px 16px;
  border: 0.5px solid #F4F4FD;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.works .item:hover,
.works .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  
}
.works .item {
  transition:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity, box-shadow;
}

/* customers */


.customers {
  font-family: Roboto;
 font-size: 36px;
 font-weight: 700;
 line-height: calc(42 / 36);
 letter-spacing: 0.03em;
 text-align: center;
}

.icon-list {
  display: flex;
  margin-top: 72px;
  justify-content: space-between;
  


}

.icon-item {

  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon-item-svg {
  fill: #8E8F99;
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px; 
  padding-top: 16px;
  padding-left: 32px;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;
}

.icon-item-svg:hover,
.icon-item-svg:focus {
  
  fill: #4D5AE5;
  border-radius: 4px;
  border: 1px solid #4D5AE5;
}

/*====== OVERLAY ======*/
.img-text {
  position: relative;
  overflow: hidden;
}
.item-link:hover .overlay {
  transform: translatex(0);
  
}

.item-link {
  text-decoration: none;
  color: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

.overlay-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
  color: #f4f4fd;
  padding:  40px 32px 164px;
}
/* backdrop============ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(3px);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 250ms, transform 250ms,visibility 250ms, scale 250ms;
  transition-property: opacity, transform, visibility, scale ;

  
  
}

.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 576px;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms 250ms, opacity 250ms 250ms;
  transition-property: transform, opacity;
  
  
}

.modal-btn {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #E7E9FC;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404BBF;
  fill: #FFFFFF;
  border: 1px solid #404BBF;
}

.modal-icon {
  width: 8px;
  height: 8px;
}



.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
  opacity: 0;
  transition-property: transform, opacity;

  
}
/* =====BR==== */

.menu-nav .link {
  position: relative;
  padding-bottom: 27px;
}



.item .active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: calc(24px - 4px);
  background-color: #4D5AE5;
  border-radius: 2px;
}

.menu-nav .active {
  color: #4D5AE5;
}


.footer-label {
  color: #fff;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
display: flex;
flex-direction: column;
margin-bottom: 16px;

}


.footer-form {
  margin-left: 80px;
}

.flex-submit {
  display: flex;
  flex-direction: row;
}

#footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 24px;
  background: #2E2F42;
}

#footer-email::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);

}

.footer-submit {
  color: #fff;
  background: #4D5AE5;
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background;
}

.footer-submit:hover,
.footer-submit:focus {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}




/* =====MODAL-FORM====== */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 14px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5em;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}


#username {
  width: 360px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

#username:focus {
  border: 1px solid #4D5AE5;
  
}


#tel {
  width: 360px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 
  outline: transparent;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

#tel:focus {
  border: 1px solid #4D5AE5;
}

#email {
  width: 360px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

#email:focus {
  border: 1px solid #4D5AE5;
}

#comment {
  resize: none;
  width: 360px;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;   
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#comment:focus {
  border: 1px solid #4D5AE5;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.04em;
}

textarea {
  outline: transparent;
}
textarea:focus {
  border: 1px solid #4D5AE5;
}

/* ====CHECK-BOX==== */

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  
  
  
}
.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid black;
  border-radius: 2px;
  margin-top: 16px;
  
}
.checkbox:checked + .icon-checkbox {
  background-color: #404BBF;
  background-image: url("../images/svg/Propertyclick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: #404BBF; 
  
  
}
.label {
  display: flex;
}
.content-checkbox {
  font-family: "Roboto";
  color: #757575;
  margin-top: 16px;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  margin-left: 8px;
}
.link-chechbox {
  font-family: "Roboto";
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
}
.link-chechbox:hover,
.link-chechbox:focus {
  color: #4D5AE5;
}

.modal-submit {
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  gap: 10px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-left: 95px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
}

.modal-submit:hover {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14px- 12px);
  letter-spacing: 0.01em;
  color: #8E8F99;

}

/* ====ICON-MODAL==== */

.icon-user {
position: relative;
}

.icon-person {
  position: absolute;
  fill: #2E2F42;
  width: 12px;
  height: 12px;
  left: 19px;
  top: 14px;
  transform: translateY(25% );
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-user:focus-within > .icon-person {
  fill: #4D5AE5 ;
}
