:root {
    --primari-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
    --text-white: #ffffff;
  }
  
  body {
    background-color: var(--text-white);
    color: var(--primari-text-color);
    font-family: Roboto, sans-serif;
    text-decoration: none;
  }
  
  .logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  .main-nav .logo {
    margin-right: 77px;
  }
  
  .logo .logo-blue {
    color: #4D5AE5;
  }
   
  .list {
    list-style: none;
  }
  
  .menu-nav .link {
    color: var(--primari-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .menu-nav .link:hover,
  .menu-nav .link:focus {
    color: var(--accent-color);
  }
  
  
  .contact .link {
    color: var(--title-text-color);
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .contact .link:hover,
  .contact .link:focus {
    color: var(--accent-color);
  }
  

  
  .peculiarities-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-size: 20px;
  }
  
  .features-list .title {
    color: var(--primari-text-color);
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .features-list .title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.50em;
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 8px;
    padding-bottom: 0px;
  }
  
 

  .our-teams {
     background: #f4f4fd;
  }
  
  .our-teams-title {
    color: var(--primari-text-color);
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  
  .teams .title {
    color: var(--primari-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  
  .teams .text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    
  }
  
  .btn-primary {
    background-color: var(--accent-color);
    color: var(--text-white);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: inherit;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  
  .footer .link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  .footer .link:hover,
  .footer .link:focus {
    color: var(--accent-color);
  }
  
  .footer .logo {
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .business {
    background-color: var(--primari-text-color);;
  }
  .filter .btn {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #E7E9FC 
  }

  .filter .btn:hover,
  .filter .btn:focus,
  .filter .btn:active {
    color: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .filter  {
    display: flex;
    width: 586px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container .title {
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  .container .title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
 
  .footer .text {
    color: #E7E9FC;
    font-style: normal; 
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-top: 16px;
    max-width: 264px;
  }


  .footer li {
    list-style-type: none;
  }
  
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

 h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  border: 0;
 }


  /* HEADER */
  .container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  

.main-nav {
  display: flex;
  align-items: center;
  padding: 24px 0px;
}

.main-nav .item:not(:last-child) {
  margin-right: 40px;
}
.menu-nav {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  margin-left: 331px;
}

.contact .link:not(:last-child) {
  margin-right: 40px;
}

 .page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }
/* MAIN CONTAINER */

.features-list {
  display: flex;
  justify-content: center;
}

.features-list li:not(:last-child) {
  margin-right: 24px;
}

/* HERO */

.hero {
  max-width: 1600px;
}

.hero-title{
  width: 1440px;
  font-family: 'Roboto';
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  size: 56px;
  line-height: 1.07em;
}

.hero-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  
}

.hero .btn-primary {
  
 place-content: center;
 align-items: center;
 padding: 16px 32px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 48px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

.hero .btn-primary:focus,
.hero .btn-primary:hover {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

svg {
  padding: 0px;
}

.hero {
  text-align: center;
  padding-bottom: 192px;
  padding-top: 192px;
  background-color: grey;
  background-image: linear-gradient(to right ,rgba( 46, 47, 66, 0.7 ),rgba( 46, 47, 66,0.7 )) , url(../images/Background1.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
}


/* OUR WORK */

 .our-teams-title {
  font-family: 'Roboto';
  color: var(--primari-text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

 .our-teams .item  {
  list-style: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;  
}

.our-teams .list {
  display: flex;
  justify-content: space-between;
}
.teams .title {
  display: flex;
  padding-top: 32px;
  padding-bottom: 8px;
  justify-content: center;
}
.teams .text {
  padding-bottom: 12px;
  text-align: center;
}

 .our-work .our-work-title {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 72px;
  font-size: 36px;
 }

.our-work .list{
  display: flex;
}

.our-work .item:not(:last-child) {
  margin-right: 24px;
}

.our-work {
  padding-top: 0px;
}

/* SVG */

.teams-soc-list {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 36px;
}

.teams-soc-items {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

.teams-soc-icon {
  width: 16px;
  height: 16px;
  fill: #F4F4FD;
}
.antenna-background {
  display: block;
  height: 112px;
  border-radius: 4px;
  background-color: #F4F4FD;
  margin-bottom: 8px;
}


/* BODY ICON */

.icon-antenna::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: #F4F4FD;
  background-image: url(../images/svg/antenna.svg);
  border-radius: 4px ;
}

.icon-clock::before {
  content: "";
  display: block;
  background-color: #F4F4FD;
  background-image: url(../images/svg/clock.svg);
  height: 112px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border-radius: 4px;
}

.icon-notebook::before {
  content: "";
  display: block;
  background-color: #f4f4fd;
  background-image: url(../images/svg/notebook.svg);
  background-position: center;
  height: 112px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.icon-astronaut::before {
  content: "";
  display: block;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
  background-image: url(../images/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* FOOTER SVG */


.social-media-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5em;
color: #fff;
width: 96px;
height: 24px; 
margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.footer-soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}


.footer-soc-container {
  display: flex;
  justify-content: center;
  margin-right: 692px;
}

.social-media {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}


/* *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}  */

/* PORTFOLIO */

.works  {
  list-style: none; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  
  
  
}
.works > .item {
  flex-basis: calc(100% / 3 -24px);
  justify-content: space-between;
  
 
}


.works > .item:nth-child(3n) {
 margin-right: 0px;
}

.works .title-text {
  margin-top: 8px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container .filter {
  margin-bottom: 72px;
}

.works .container {
  padding: 32px 16px 32px 16px;
  border: 0.5px solid #F4F4FD;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* customers */


.customers {
  font-family: Roboto;
 font-size: 36px;
 font-weight: 700;
 line-height: calc(42 / 36);
 letter-spacing: 0.03em;
 text-align: center;
}

.icon-list {
  display: flex;
  margin-top: 72px;
  justify-content: space-between;
}

.icon-ya {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/ya.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-company {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/book.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-onion {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/onion.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-foster {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/foster.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-brand {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/brand.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-cube {
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  background-image: url(../images/svg/cube.svg);
  background-repeat: no-repeat;
  background-position: center;
}